# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build / staging
dist/
build/
_site/

# Logs
*.log

# Env
.env
.env.local
